/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: "PingFang SC", sans-serif;
    line-height: 1.6;
    padding: 60px;
}

br {
    height: 40px;
}

/* 段落样式 */

p {
    font-size: 15px;
    margin: 0 0 1.25em 0;
}

p:hover {
    background-color: #f3f3f3;
    transition: border-color 0.2s ease;
}

h1 {
    color: #020090;
    font-size: 25px;
    padding-top: 12px;
    border-top: 2px solid #f3f3f3;
}

h1:hover {
    background-color: #f3f3f3;
    border-top-color: #00d0d0;
    border-top-style: solid;
    transition: border-color 0.2s ease;
}

h2 {
    color: #020090;
    font-size: 22px;
    padding-top: 12px;
    border-top: 2px solid #f3f3f3;
}

h2:hover {
    background-color: #f3f3f3;
    border-top-color: #00d0d0;
    border-top-style: dashed;
    transition: border-color 0.2s ease;
}

h3 {
    color: #020090;
    font-size: 18px;
    padding-top: 12px;
    border-top: 2px solid #f3f3f3;
}

h3:hover {
    background-color: #f3f3f3;
    border-top-color: #00d0d0;
    border-top-style: dashed;
    transition: border-color 0.2s ease;
}

h4 {
    color: #020090;
    font-size: 16px;
    padding-top: 12px;
    border-top: 2px solid #f3f3f3;
}

h4:hover {
    background-color: #f3f3f3;
    border-top-color: #00d0d0;
    border-top-style: dashed;
    transition: border-color 0.2s ease;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.link_url {
    color: #05aa6d;
    border-bottom: 2px inset transparent;
    transition: border-color 0.2s ease;
}

.link_url:hover {
    border-bottom-color: #05aa6d;
}

.link_lore {
    color: #009090;
    border-bottom: 2px inset transparent;
    transition: border-color 0.2s ease;
}

.link_lore:hover {
    border-bottom-color: #009090;
}